/* import 'rsuite/DateRangePicker/styles/index.css'; */
@import "rsuite/dist/rsuite.css";

* {
  margin: 0;
  padding: 0;
}


.phones{
  width: 100%;
  height: 80vh;
}

.bg-red {
  background-color: red;
}

.MuiChartsAxis-label{
  display: none !important;

}

.login{
   min-height: 100vh;
background-image: url("/img/Frame.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* .rs-input-group-addon {
  display: none !important;
} */
